/*----------- hello section --------------*/

#helloSection {
  height: 70vh;
  width: 100%;
  background-color: var(--blue-color);
  position: relative;
}

#helloSection > h2 {
  color: black;
  word-break: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

#helloSection > img {
  z-index: 1;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 10%;
}

/*-----------nav --------------*/

header {
  width: 100%;
  background-color: white;
  z-index: 100;
  place-items: center;
  align-content: center;
}

#fixedHeader {
  background-color: white;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: none;
  top: 0;
  justify-content: space-around;
}

nav {
  display: grid;
  grid-template-areas: "indexLink offerLink whyUsLink contactLink";
  justify-content: space-around;
  padding: 2rem 25% 2rem 25%;
}

#indexLink {
  grid-area: indexLink;
}
#offerLink {
  grid-area: offerLink;
}
#whyUsLink {
  grid-area: whyUsLink;
}
#contactLink {
  grid-area: contactLink;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  min-width: 8rem;
}

/*-----------main --------------*/

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

/*----------- on mine mind section --------------*/

#onMindSection {
  background-color: var(--grey-color);
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftSideOnMind rightSideOnMind";
}

#leftSideOnMind {
  grid-area: leftSideOnMind;
  display: grid;
  margin: 3rem 20% 3rem 10%;
  justify-content: center;
}

#leftSideOnMind > h2 {
  width: 70%;
}

#rightSideOnMind {
  grid-area: rightSideOnMind;
  border-radius: 5px;
  margin: 6rem 30% 3rem 0;
  display: grid;
  grid-template-areas:
    "emailLabel"
    "email"
    "messageLabel"
    "message"
    "sendButton";
  color: white;
  row-gap: 0.5rem;
}

#emailLabel {
  grid-area: emailLabel;
}
#email {
  grid-area: email;
  height: 2rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 2px;
  padding: 1rem 0 1rem 0;
}
#messageLabel {
  grid-area: messageLabel;
}
#message {
  grid-area: message;
  border: 1px solid white;
  border-radius: 2px;
  margin-bottom: -2rem;
}
#sendButton {
  grid-area: sendButton;
  margin-bottom: 3rem;
  align-self: self-end;
  justify-self: end;
}

/*----------- visit section --------------*/

#visitSection {
  height: 50rem;
  width: 100%;
  position: relative;
}

#visitUs {
  background-color: var(--yellow-color);
  color: white;
  width: 25rem;
  display: grid;
  grid-template-areas:
    "visitText"
    "visitAddress1"
    "visitAddress2";
  grid-template-columns: 1fr;

  padding: 1rem;
  position: absolute;
  top: 10%;
}

#visitUs > h2 {
  grid-area: visitText;
}
#visitUs > p:first-of-type {
  grid-area: visitAddress1;
}
#visitUs > p:last-of-type {
  grid-area: visitAddress2;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* ----------------- Footer ----------------- */
footer {
  color: white;
  background-color: rgb(119, 117, 116);
  font-size: 1.5rem;
}

#footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "navInfo"
    "addressInfo"
    "socialMediaInfo";
  align-content: center;
  justify-items: center;
}

.footerItem {
  display: grid;
  grid-template-rows: 0.7fr 3fr;
  grid-template-areas:
    "footerColumnTitle"
    "footerColumnInfo";
  margin-top: 2rem;
}

.footerItem > h2 {
  grid-area: footerColumnTitle;
  font-size: 1.5rem;
}

.footerItem > span {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: rgb(230, 230, 230);
}

.footerInfo {
  grid-area: footerColumnInfo;
  color: rgb(223, 223, 223);
}

.footerInfoInRow {
  display: grid;
  grid-template-rows: repeat(3, 1.7rem);
}

#socialMediaItems {
  justify-content: space-between;
}

#socialMediaItems > img {
  width: 2rem;
  height: fit-content;
}

/*----------- MOBILE --------------*/

@media only screen and (max-width: 851px) {
  html,
  body,
  main {
    padding: 0;
    margin: 0;
  }

  html {
    background-color: green;
  }

  h2 {
    font-size: 2rem;
  }

  #helloSection {
    display: grid;
    grid-template-areas: "helloTitle helloImage";
    grid-template-columns: 1fr 1fr;
    height: 14rem;
    width: 100%;
    background-color: var(--blue-color);
    position: relative;
  }

  #helloSection > h2 {
    grid-area: helloTitle;
    display: grid;
    color: black;
    word-break: break-word;
    min-width: 50%;
    position: relative;
    top: 30%;
    padding-left: 1rem;
  }

  #helloSection > img {
    grid-area: helloImage;
    z-index: 1;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 2rem;
  }

  nav {
    display: grid;
    grid-template-areas:
      "indexLink offerLink"
      "whyUsLink contactLink";
    grid-template-columns: 1fr;
    justify-content: space-between;
    padding: 2rem 5% 2rem 5%;
  }

  #onMindSection {
    background-color: var(--grey-color);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "leftSideOnMind"
      "rightSideOnMind";
  }

  #leftSideOnMind {
    grid-area: leftSideOnMind;
    display: grid;
    margin: 3rem 20% 3rem 10%;
    justify-content: center;
  }

  #leftSideOnMind > h2 {
    width: 100%;
  }

  #rightSideOnMind {
    width: 80%;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
  }

  #message {
    margin-bottom: 0rem;
  }

  #sendButton {
    grid-area: sendButton;
    margin-bottom: 3rem;
    align-self: self-end;
    justify-self: end;
  }

  #visitUs {
    width: 20rem;
    height: 20%;
    padding: 1rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  footer {
    grid-area: footer;
    height: auto;
  }

  #footerContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navInfo"
      "addressInfo"
      "socialMediaInfo";
  }

  .footerItem {
    max-height: 9rem;
    justify-items: center;
  }

  #socialMediaItems {
    display: grid;
    grid-template-areas: "twitter facebook linkedin instagram";
    justify-content: space-between;
  }

  #socialMediaItems > img {
    width: 2rem;
    height: fit-content;
    margin-top: -1rem;
  }
}
